
@media(max-width: 1300px){
    .div-left-about{
        align-items: start;
        padding: 8vw 2vw 5vw 10vw;
    }
}

@media(max-width: 1000px){
    
    header{
        top: 40px;
        align-items: end;
    }

    .container-header-desktop{
        display: none;
    }

    .container-menu-mobile{
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        width: 100%;
        & img{
            width: 50px;
            cursor: pointer;
            z-index: 20;
            transform: rotate(90deg);
        }
    }

    .nav-mobile{
        width: 100%;
        display: flex;
        justify-content: end;
    }

    .menu-header{
        position: fixed;
        top: 40px;
        left: 0;

        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: var(--escuro-secundario);

        /* estado fechado */
        transform: translateY(-100%);
        opacity: 0;

        transition: transform 0.45s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.3s ease;

        z-index: 10;
        padding: 15px 0;
    }

    .menu-header.open {
        transform: translateY(0);
        opacity: 1;
    }

    #menu-icon{
        transition: 0.8s;
    }

    main{
        align-items: center;
    }

    .hero-section{
        background-image: url('../assets/images/bg-mobile.jpg');
    }

    .title-mobile{
        display:flex;
        gap: 15px;
        color: var(--laranja);
    }

    .hero-div-escritas{
        width: 100%;
        
        justify-content: center;
        padding: 0 80px;
        gap: 1rem;
    }

    .hero-div-escritas p{
        letter-spacing: 1px;
        font-weight: 200;
    }

    .hero-div-escritas button{
        font-weight: 600;
    }

    /*section about*/
    .about-section{
        flex-direction: column;
    }

    .div-left-about{
        flex-direction: column;
        width: 100%;
        padding: 10vw 5vw;
    }

    .container-left-infos-about {
        align-items: center;
        h2{
            font-size: clamp(25px, 4vw, 4vw);
        }
    }  

    .container-card-info-founder{
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .card-founder{
        max-width: 300px;
        max-height: 450px;
        margin-bottom: 30px;
    }

    .infos-cofounder{
        color: var(--branco);
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h3{
            color: var(--laranja);
            font-size: 1.5rem;
            margin-bottom: 10px;
        }
        p{
            font-size: 1.2rem;
            letter-spacing: 1px;
            font-weight: 300;
        }
    }

    .div-right-about{
        align-items: center;
        width: 100%;
        padding: 10vw 5vw;
    }

    .about-right-descriptions{
        text-align: center;
        h3{
            font-size: clamp(20px, 3vw, 3vw);
        }

        h4{
            font-size: clamp(25px, 4vw, 4vw);
        }
    }

    .container-about-right-cards{
        width: 80%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media(max-width: 700px){
    .hero-div-escritas button{
        font-size: 1rem;
    }

    .div-left-about{
        padding: 20vw 5vw;
    }

    .about-right-descriptions{
        width: 80%;
    }

    .card-founder{
        margin-bottom: 0px;
        height: 360px;

        h3{
            bottom: 100px;
        }
        p{
            bottom: 100px;
        }
    }

    .div-right-about{
        align-items: center;
        width: 100%;
        padding: 20vw 5vw;
    }


}