
@media(max-width: 1300px){
    .div-left-about{
        align-items: start;
        padding: 8vw 2vw 5vw 10vw;
    }
}

@media(max-width: 1000px){
    
    header{
        top: 40px;
        align-items: end;
    }

    .container-header-desktop{
        display: none;
    }

    .container-menu-mobile{
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        width: 100%;
        & img{
            width: 50px;
            cursor: pointer;
            z-index: 20;
            transform: rotate(90deg);
        }
    }

    .nav-mobile{
        width: 100%;
        display: flex;
        justify-content: end;
    }

    .menu-header{
        position: fixed;
        top: 40px;
        left: 0;

        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: var(--escuro-secundario);

        /* estado fechado */
        transform: translateY(-100%);
        opacity: 0;

        transition: transform 0.45s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.3s ease;

        z-index: 10;
        padding: 15px 0;
    }

    .menu-header.open {
        transform: translateY(0);
        opacity: 1;
    }

    #menu-icon{
        transition: 0.8s;
    }

    main{
        align-items: center;
    }

    .hero-section{
        background-image: url('../assets/images/bg-mobile.jpg');
    }

    .title-mobile{
        display:flex;
        gap: 15px;
        color: var(--laranja);
    }

    .hero-div-escritas{
        width: 100%;
        
        justify-content: center;
        padding: 0 80px;
        gap: 1rem;
    }

    .hero-div-escritas p{
        letter-spacing: 1px;
        font-weight: 200;
    }

    .hero-div-escritas button{
        font-weight: 600;
    }

    /*section about*/
    .about-section{
        flex-direction: column;
    }

    .div-left-about{
        flex-direction: column;
        width: 100%;
        padding: 40px 20px;
    }

    .container-left-infos-about h2{
        font-size: 2rem;
    }

    .container-card-info-founder{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .card-founder{
        width: 70%;
        height: 395px;
        
        & h3{
            padding: 10px 0;
            bottom: 95px;
        }
        & p{
            padding: 10px 0;
            bottom: 95px;
        }
    }

    .infos-cofounder{
    color: var(--branco);
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & h3{
        color: var(--laranja);
        font-size: 1.5rem;
        margin-bottom: 0px;
    }
    & p{
        font-size: 1.2rem;
        letter-spacing: 1px;
        font-weight: 300;
    }
    & button{
        width: 200px;
        padding: 15px 10px;
        color: var(--branco);
    
        background: linear-gradient(to top, var(--laranja), #df825b);
        border-radius: 30px;
        border: none;
        font-size: 1.2rem;
        cursor: pointer;
        transition: 1s;
        margin-top: 40px;
    }
    }

    .div-right-about{
        align-items: center;
        width: 100%;
        padding: 50px 0;
    }

    .about-right-descriptions{
        text-align: center;
        width: 70%;
        & h3{
            margin-top: 20px;
        }
        & h2{
            color: var(--branco);
            font-size: 2.2rem;
            margin: 10px 0 40px 0;
        }
    }

    .container-about-right-cards{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media(max-width: 700px){
    .hero-div-escritas button{
        font-size: 1rem;
    }
}