*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --laranja: #F26F39;
  --verde: #6EC25B;
  --branco: #FCFCFC;
  --escuro-primario: #161616;
  --escuro-secundario: #202020;
  --escuro-terciario: #2A2A2A;
}

body{
    font-family: "Oswald", sans-serif;
    display: flex;
    justify-content: center;
}

/*Header*/
header{
    position: fixed;
    top: 5px;
    width: 90%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 30;
}

.center{
    color: var(--verde);
}

.container-menu-mobile{
    display: none;
}

.container-header-desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--escuro-primario);
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px 25px;
}

.container-icon-header{
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    font-weight: 400;
    color: var(--branco);
    letter-spacing: 1px;
    cursor: pointer;
    transition: 1s;
}

a:hover{
    color: var(--laranja);
}

.container-icon-header h3{
    color: var(--branco);
    font-size: 1.5rem;
}

.menu-header{
    display: flex;
    gap: 2rem;
}

/*Hero-section*/

.hero-section{
    width: 100%;
    height: 100vh;
    background-image: url('../assets/images/bg-updated.png');
    background-size: cover;
    background-position: top;
}

.title-mobile{
    display:none;
}

.hero-div-escritas{
    width: 55%;
    height: 100%;
    background-color: #202020cb;
    color: var(--branco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2vw 0 10vw;
    gap: 1rem;

    h2{
        font-size: clamp(20px, 2.5vw, 2.5vw);
        color: var(--laranja);
    }

    h1{
        font-family: "Bebas Neue", sans-serif;
        letter-spacing: 2px;
        font-size: clamp(28px, 4.5vw, 4.5vw);
    }

    p{
        font-size: clamp(18px, 1.4vw, 1.4vw);
        font-weight: 200;
    }

    button{
        width: fit-content;
        padding: 20px;
        color: var(--branco);

        background: linear-gradient(to top, var(--laranja), #f3966e);
        border-radius: 5px;
        border: none;
        margin-top: 50px;
        font-size: 1.5rem;
        cursor: pointer;
        transition: 0.8s;
        opacity: 0;
    }

    button:hover{
        box-shadow: #814b34 0px 0px 15px 5px;
    }
}

/*About section*/
.about-section{
    display: flex;
}

.div-left-about{
    width: 60%;
    background-color: var(--escuro-primario);
    display: flex;
    align-items: center;
    padding: 8vw 2vw 5vw 10vw;
}

.container-left-infos-about{
    display: flex;
    flex-direction: column;
    gap: 30px;

    & h2{
        color: var(--branco);
        font-size: clamp(30px, 2.5vw, 2.5vw);
    }
}

.container-card-info-founder{
    display: flex;
    gap: 2rem;
}

.card-founder{
    width: 60%;

    & h3{
        text-align: center;
        position: relative;
        bottom: 115px;
        background-color: var(--verde);
        padding: 10px 0;
        font-size: clamp(16px, 1.5vw, 1.5vw);
    }
    & p{
        color: var(--branco);
        text-align: center;
        font-size: clamp(16px, 1.5vw, 1.5vw);
        position: relative;
        bottom: 115px;
        background-color: #202020d2;
        padding: 10px 0;
    }
}

.infos-cofounder{
    width: 40%;
    color: var(--branco);

    & h3{
        font-size: clamp(18px, 1.8vw, 1.8vw);
        color: var(--laranja);
        margin-bottom: 20px;
    }
    & p{
        font-size: clamp(16px, 1.3vw, 1.3vw);
        letter-spacing: 1px;
        font-weight: 400;
    }
    & button{
        width: fit-content;
        padding: 15px;
        color: var(--branco);
    
        background: linear-gradient(to top, var(--laranja), #df825b);
        border-radius: 10px;
        border: none;
        font-size: 1.2rem;
        cursor: pointer;
        transition: 1s;
        margin-top: 40px;
    }
 }

.card-founder img{
    width: 100%;
    border-radius: 10px;
}

.div-right-about{
    width: 40%;
    background-color: var(--escuro-secundario);
    display: flex;
    flex-direction: column;
    padding: 8vw 10vw 5vw 2vw;
}

.about-right-descriptions{
        color: var(--verde);

    & h3{
        font-size: clamp(16px, 1.3vw, 1.3vw);
        letter-spacing: 1px;
        font-weight: 400;
    }

    & h4{
        color: var(--branco);
        font-size: clamp(20px, 2.5vw, 2.5vw);
        margin: 20px 0;
    }
}

.container-about-right-cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.card-about{
    background-color: #8f4122;
    width: 100%;
    height: 280px;
    perspective: 1000px;
    border-radius: 12px;
    cursor: grab;
}

.card-inner{
    width: 100%;
    height: 100%;
    position: relative;

    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
}

.card-face {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  backface-visibility: hidden;
  border-radius: 12px;
}

.card-front {
  background: var(--escuro-primario);
  color: #fff;
}

.card-front img {
  width: 60px;
  margin-bottom: 12px;
}

.card-back {
  background: var(--laranja);
  color: #fff;

  transform: rotateY(180deg);
  padding: 20px;
  text-align: center;

  p{
    font-weight: 300;
    letter-spacing: 1px;
  }
}

.card-about:hover{
    box-shadow: #814b34 0px 0px 15px 5px;
}
