@charset "UTF-8";

/*
Typical devices Breakpoints
---------------------------
Pequenas telas : ate 480px.
celulares: 481 - 768px
Tablets:  769px — 1024px.
Desktops: 1025px — 1400px.
Grandes telas: 1201px ++
*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        background-image: linear-gradient(to bottom, #0c1e9485 , #136170, #2db6d1);
    }

    #formulario > p {
        text-align: center;
        margin: 10px 0px
    }

    section#login {
        width:80vw
    }

    section#login > div#imagem {
        float: left;
        width: 40%;
        height: 100%;
        background-position: center center;
    }

    
}

@media screen and (min-width: 1024px) and (max-width: 3000px) {
    body {
        background-image: linear-gradient(to bottom, #0c1e9485 , #136170, #2db6d1);
    }

    #formulario > p {
        text-align: center;
        margin: 10px 0px
    }
    
    section#login {
        width: 950px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
        background-position: center center;
    }

    div#formulario > h1 {
        font-size: 2em;
    }
    div#formulario > p {
        font-size: 1.2em;
    }

    
}