@charset "UTF-8";
/*
cor1 -  #0c1f94 Azul escuro
cor2 - #2197b0 Azul agua
cor3 - #196ce7 Azul claro
*/ 
:root {
    --cor1:#0c1f94;
    --cor2:#196ce7;
    --cor3:#2197b0;
}

* {
    font-family: 'verdana', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, #146575, #34d2f1);
}

#formulario > p {
    text-align: center;
    margin: 5px 0px
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden; /*comando para arredondar o canto da imagem, (tudo que estiver fora da borda, desse container, vai ficar escondido)*/

    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 510px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486);
    transition: width 1s, height 0.3s;
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    display: block;
    background: url(../imagens/gerenfacil.png) no-repeat;
    background-size: cover;
    height: 200px;
    
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
}

div#formulario > p {
    font-size: 0.8em;
}

.botao {
    
    padding: 2px;
    display: block;
    font-size: 1em;
    background-color: #2197b0;
    color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.363);
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 40px;
    cursor: pointer;
    
}

.botao:hover {
    background-color: #29c3e2;
}

form > div.campo {
    background-color: #1a68db;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}



div.campo > label {
    display: none;
}

div.campo > span {
  color: white;
  margin: 5px;
  
}

div.campo > input {
    border-radius: 5px;
    height: 31px;
    width: 185px;
    transform: translate(2px, -5px);
    border: none;
}

form > a {
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    border: 1px solid #29c3e2;
    border-radius: 5px;
}
form > a:hover {
    background-color: #4fe2ff;
    border-radius: 5px;
}

form > a > span {
    font-size: 0.1em;
    
}